//sass base template

//breakpoints
// $bp-largest: 75em; //1200px
$bp-large: 68.75em; //1100
// $bp-medium: 56.25em;
// $bp-small: 37.5em; //600px
// $bp-smaller: 31.25em; //500px

//css vars
:root {
  //grid settings for home
  --sidebar-size: 8rem;

  //darks
  --color-black: rgba(7, 7, 7, 0.95);
  --color-black-box-unfocus: rgba(7, 7, 7, 0.2);
  --color-black-nav-unfocus: rgba(7, 7, 7, 0.75);
  --color-grey-dark-1: rgb(27, 27, 27);

  //shadows
  --light-shadow: rgba(2, 2, 2, 0.4);

  //lights
  --color-white: #eee;
  --color-white-selected: rgb(129, 127, 127);
  --color-white: #eee;

  --color-primary-light-1: rgba(111, 239, 255);
  --color-primary-light-2: rgba(168, 113, 240);
  --color-primary-light-2-highlight: rgb(205, 182, 228);
  --color-primary-light-2-visited: rgb(87, 59, 122);

  --color-primary-light-3-gradient: rgba(24, 41, 74, 0.75);
  --color-primary-light-4-gradient: rgba(74, 115, 174, 0.75);
  --color-primary-light-3: rgb(25, 49, 74);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 600;
  line-height: 1.6;

  // background-size: cover;
  // background-repeat: no-repeat;
  // background-image: ;
  //min-height: 100vh;
}

.container {
  display: grid;
  grid-template-rows: repeat((10, minmax(10vh, min-content)));
  grid-template-columns: repeat(12, 1fr);
}
