.home {
  background-image: url(../public/rainbow_anime.gif);
  grid-row: 1 / -1;
  grid-column: 1 /-1;

  background-position: 60%;
  background-size: cover;
  // blur inset
  //box-shadow: 0 0 2px 2px white inset;
  transition: all 0.8s;

  //display settings
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  animation: fadeIn 1s ease-in;
}

.about {
  animation: fadeIn 1s ease-in;

  background-image: linear-gradient(
      to bottom right,
      var(--color-primary-light-3-gradient),
      var(--color-primary-light-4-gradient)
    ),
    url(../public/me1.jpeg);

  background-position: center;
  background-size: cover;

  opacity: 0.9;

  grid-row: 1 / -1;
  grid-column: 1 /-1;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &__title {
    animation: fadeIn 1s ease-in-out 1s forwards;
    z-index: 5;
    grid-column: 3/ 4;
    grid-row: 2 / 3;
    align-self: end;
    justify-self: center;
    opacity: 0;
  }

  &__content_box {
    animation: fadeIn 1s ease-in-out 1s forwards;
    //10 for things that go on top of the background
    z-index: 10;
    grid-row: 3 / 9;
    grid-column: 3 / 11;

    transition: all 0.5s;
    opacity: 0;

    background-color: rgba($color: #fff, $alpha: 0.7);
    box-shadow: 4px 4px 2rem var(--color-black-box-unfocus);

    padding: 5rem 5rem;

    display: flex;
    flex-direction: column;
    // text-align: center;

    font-family: 'Roboto', Times, serif;
    font-size: 1.8rem;

    a {
      color: var(--color-primary-light-2);
      text-decoration: none;

      &:active,
      &:hover,
      &:visited:hover {
        color: var(--color-primary-light-2-highlight);
      }

      &:visited {
        color: var(--color-primary-light-2-visited);
      }
    }

    &:hover {
      //adjusting the alphas here on hover
      background-color: rgba($color: #fff, $alpha: 1);
      box-shadow: 4px 4px 2rem var(--color-black-nav-unfocus);
    }
  }
  // img {
  // display: block;
  // height: 100vh;
  // width: 10%;
  // object-fit: cover;
  //
  // filter: blur(3px);
  // }
}

.social_media_container {
  //anim
  animation-name: moveInRight;
  animation-duration: 2s;
  animation-timing-function: ease-out;

  margin-top: 2rem;
  display: flex;
  align-items: center;
  list-style-type: none;

  li {
    font-size: 3.5rem;
    margin-right: 2rem;
    position: relative;

    &:hover > p {
      visibility: visible;
      opacity: 1;
      transform: translateY(140%);
    }

    a {
      color: black;
      text-decoration: none;
      transition: all 0.3s;

      // &:hover > * {
      // transform: translateY(-10%);
      // }
    }

    p {
      cursor: pointer;
      visibility: hidden;
      opacity: 0;
      transition: all 0.6s;
      //pos
      position: absolute;
      left: -30%;
      top: 30%;

      font-size: 2rem;
    }

    .modified-pos {
      //pos
      position: absolute;
      left: -55%;
      top: 30%;
    }
  }
}
