.bg {
  background-image: url(../public/cloud.jpg);
  grid-row: 1 / -1;
  grid-column: 1 /-1;

  background-position: center;
  background-size: cover;
}

.home {
  background-position: center;
  background-size: cover;

  // blur inset
  //box-shadow: 0 0 2px 2px white inset;
  transition: all 0.8s;
  grid-row: 1 / 2;
  grid-column: 1 /-1;

  //display settings
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about {
  grid-row: 2 / 3;
  grid-column: 3 / 5;
}

.social_media_container {
  //anim
  animation-name: moveInRight;
  animation-duration: 2s;
  animation-timing-function: ease-out;

  margin-top: 2rem;
  display: flex;
  list-style-type: none;

  li {
    font-size: 3.5rem;
    margin-right: 2rem;
    position: relative;

    &:hover > p {
      visibility: visible;
      opacity: 1;
      transform: translateY(140%);
    }

    a {
      color: black;
      text-decoration: none;
      transition: all 0.3s;

      // &:hover > * {
      // transform: translateY(-10%);
      // }
    }

    p {
      cursor: pointer;
      visibility: hidden;
      opacity: 0;
      transition: all 0.6s;
      //pos
      position: absolute;
      left: -30%;
      top: 30%;

      font-size: 2rem;
    }

    .modified-pos {
      //pos
      position: absolute;
      left: -55%;
      top: 30%;
    }
  }
}
