.navigation {
  &__button {
    background-color: var(--color-black);
    width: 4rem;
    height: 4rem;
    top: 1.2rem;
    left: 1rem;
    position: fixed;
    border-radius: 35%;
    z-index: 101;

    box-shadow: 0px 1px 5px var(--color-black-shadow);
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
      transform: scale(0.9);
    }
  }

  &__icon {
    //relative to parent location
    position: relative;
    margin-top: 1.8rem;
    margin-left: 1rem;
    background-color: var(--color-white);
    display: inline-block;

    &,
    &::before,
    &::after {
      width: 2rem;
      height: 3px;
      background-color: var(--color-white);
      display: inline-block;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all 0.3s;
    }

    &::before {
      top: -0.9rem;
    }

    &::after {
      top: 0.9rem;
    }

    //add rotation for before, after icons
  }

  &__bar {
    // opacity: 1;
    position: fixed;
    display: flex;
    background-color: var(--color-black-nav-unfocus);
    height: 8rem;
    //for safe measure
    z-index: 100;
    transition: all 0.8s;

    //these settings change under csstransition component
    width: 0;
    opacity: 0;
    &:hover {
      background-color: var(--color-black);
    }
  }

  &__text {
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    list-style: none;

    color: var(--color-white);

    li {
      transition: all 0.2s;

      cursor: pointer;
      margin-right: 3rem;

      &:hover {
        color: var(--color-white-selected);
      }

      &:active {
        transform: translateY(2px);
      }
    }
  }
}
