.project-page-title {
  grid-row: 2 / 3;
  grid-column: 3 / 11;
  // justify-self: center;

  text-align: center;
  font-weight: 800;
  font-size: 7rem;

  @media only screen and (max-width: $bp-medium) {
    letter-spacing: 0.4rem;
    font-size: 5rem;
  }

  @media only screen and (max-width: $bp-smaller) {
    font-size: 3.5rem;
  }

  letter-spacing: 1rem;
  color: var(--color-primary-light-3-gradient);
}

.projects {
  grid-row: 3 / auto;
  grid-column: 3 / 11;

  //space between project entries
  gap: 3rem;

  display: grid;

  //TODO: add media query on smaller sizes
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));

  @media only screen and (max-width: $bp-largest) {
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  }
  @media only screen and (max-width: $bp-small) {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }

  &__card {
    opacity: 0;

    &--1 {
      animation: fadeIn 1s ease-in forwards;
    }

    &--2 {
      animation: fadeIn 1s ease-in 0.5s forwards;
    }

    &--3 {
      animation: fadeIn 1s ease-in 1s forwards;
    }

    &--4 {
      animation: fadeIn 1s ease-in 1.5s forwards;
    }

    &--5 {
      animation: fadeIn 1s ease-in 2s forwards;
    }

    border-radius: var(--project-card-border-radius);
    box-shadow: 0px 1px 3px var(--color-black);
    // background-color: black;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    //size our automatic rows to the content
    grid-template-rows: min-content min-content 7rem;
    // row-gap: 1.5rem;

    &__image {
      // width: 100% !important;
      grid-column: 1 / -1;
      grid-row: 1 / span 1;
      height: 30rem;
      position: relative;

      //make image smaller < 500px
      @media only screen and (max-width: $bp-smaller) {
        height: 20rem;
      }

      // border-bottom: 1px solid black;

      img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: var(--project-card-border-radius)
          var(--project-card-border-radius) 0px 0px;
      }
    }

    &__info {
      // align-self: end;
      grid-row: 2 / 3;
      // z-index: 10;
      // justify-content: center;
      // display: flex;
      grid-column: 1 / -1;

      a {
        text-decoration: none;
        color: #fff;
      }
    }

    &__header {
      padding: 0.8rem;
      font-size: 2rem;
      @media only screen and (max-width: $bp-smaller) {
        font-size: 1.7rem;
      }

      text-align: center;
      background-color: var(--color-black);
      transition: 0.3s all;
      // border-radius: 0.8rem;
      a {
        display: block;
        width: 100%;
      }

      &:hover {
        background-color: var(--color-white-btn-selected);
      }
    }

    &__no-select {
      &:hover {
        cursor: not-allowed;
      }
    }

    &__source {
      // height: 100%;
      // align-self: flex-end;

      // margin-right: 2px;
      padding: 0.3rem;
      text-align: center;
      // border-radius: 0 0 var(--project-card-border-radius)
      //   var(--project-card-border-radius);

      font-size: 1.7rem;
      @media only screen and (max-width: $bp-smaller) {
        font-size: 1.4rem;
      }

      background-color: var(--color-primary-light-3-gradient);
      &:hover {
        background-color: rgba(99, 125, 180, 0.75);
      }

      // hover anim
      transition: 0.3s all;

      a {
        display: block;
        width: 100%;
      }
    }

    &__desc {
      height: 100%;
      color: #cfcece;
      background-color: var(--color-primary-light-3-gradient);
      border-radius: 0 0 var(--project-card-border-radius)
        var(--project-card-border-radius);
      padding: 5px;
      font-weight: 300;
      grid-column: 1 / span 2;
      grid-row: 3 / 4;
      text-align: center;
      font-size: 1.7rem;
      @media only screen and (max-width: $bp-smaller) {
        font-size: 1.5rem;
      }
    }
  }

  &__end-text {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    border-top: 1px solid black;
    margin-top: 1rem;

    grid-column: 1 / span 2;
    @media only screen and (max-width: $bp-medium) {
      grid-column: auto;
    }

    a {
      text-decoration: none;
      transition: 0.3s all;

      &:active,
      &:hover {
        color: var(--color-primary-light-1);
      }
    }
  }
}
