.projects {
  grid-row: 3 / 10;
  grid-column: 3 / 11;

  //space between project entries
  gap: 3rem;

  display: grid;

  //TODO: add media query on smaller sizes
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));

  @media only screen and (max-width: $bp-largest) {
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  }
  @media only screen and (max-width: $bp-small) {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }

  grid-auto-rows: max-content;

  &__card {
    position: relative;

    border: 1px solid var(--color-black-box-unfocus);
    box-shadow: 0px 1px 3px var(--color-black);

    background-image: linear-gradient(
      to bottom left,
      var(--color-primary-light-3-gradient),
      var(--color-primary-light-4-gradient)
    );

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    //size our automatic rows to the content
    grid-auto-rows: min-content;

    //
    row-gap: 1.5rem;

    &__image {
      // width: 100% !important;
      grid-column: 1 / -1;
      grid-row: 1 / span 1;
      height: 35rem;

      border-bottom: 1px solid black;
      div {
        height: 100%;
        // width: 100%;

        img {
          display: block;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }

    &__info {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      z-index: 10;
      align-self: end;
      width: 100%;

      display: flex;
      justify-content: center;

      a {
        text-decoration: none;
        color: #fff;
      }
    }

    &__header {
      // height: 100%;
      // align-self: flex-end;

      padding: 1rem;
      font-size: 2rem;
      text-align: center;
      background-color: var(--color-black);
      transition: 0.3s all;
      border-radius: 0.8rem;

      &:hover {
        background-color: var(--color-white-btn-selected);
      }
    }

    &__source {
      // height: 100%;
      // align-self: flex-end;

      margin-right: 2px;
      border-radius: 0.8rem;
      padding: 1rem;
      font-size: 2rem;
      text-align: center;
      background-color: rgba(76, 197, 106, 1);
      transition: 0.3s all;

      &:hover {
        background-color: rgba(122, 241, 152, 1);
      }
    }

    &__desc {
      padding: 5px;
      font-weight: 400;
      grid-column: 1 / span 2;
      text-align: center;
      font-size: 2rem;
    }
  }
}
