.title {
  display: inline-block;

  color: transparent;
  letter-spacing: 1.1rem;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px var(--light-shadow);
  font-size: 7rem;
  font-weight: 600;
  background-image: linear-gradient(
    to left,
    var(--color-primary-light-1),
    var(--color-primary-light-2)
  );
  background-clip: text;
  -webkit-background-clip: text;

  //anim
  animation-name: moveInRight;
  animation-duration: 2s;
  animation-timing-function: ease-out;

  &:hover {
    transform: scale(1.05);
    background-image: linear-gradient(
      to right,
      var(--color-primary-light-1),
      var(--color-primary-light-2)
    );
  }
}

.sub-title {
  display: inline-block;

  color: var(--color-white);
  text-shadow: 2px 2px 3px rgb(53, 51, 51);
  font-size: 4rem;
  font-weight: 200;

  &:hover {
    transform: scale(1.05);
  }

  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}
