.fade-enter {
  opacity: 0;
  width: 0;
  transition: all 1s;
}

.fade-enter-active {
  opacity: 1;
  width: 100%;
}

.fade-enter-done {
  opacity: 1;
  width: 100%;
}

.fade-exit {
  opacity: 1;
  width: 100%;
  transition: all 1s;
}

.fade-exit-active {
  opacity: 0;
  width: 0;
}

.margin-bottom-md {
  margin-bottom: 3rem;
}
